# Build and cache files\npickom-client/.next/\npickom-client/node_modules/\npickom-server/dist/\npickom-server/node_modules/\n\n# Environment files\n*.env.local\n.env\n\n# Logs\n*.log\nnpm-debug.log*\nyarn-debug.log*\nyarn-error.log*\n\n# Temp files\n*.tsbuildinfo\n.DS_Store
